In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from dateutil.parser import parse
from datetime import date

In [2]:
# i-pin 도입기관
df=pd.read_csv('../i_pin/pers_I-PIN_institution_20190927.csv', encoding='MS949')

In [3]:
# 샌드박스
df1=pd.read_csv('../i_pin/pers_sandbox.csv', encoding='MS949')

In [4]:
df

                      기관명                      홈페이지주소        오픈일자
0                    충청북도   http://www.chungbuk.go.kr  2008-08-11
1                 문화체육관광부       http://www.mcst.go.kr  2008-08-22
2       산림청 기획조정관 정보통계담당관     http://www.forest.go.kr  2008-08-22
3                   중소기업청       http://www.smba.go.kr  2008-08-25
4                   여성가족부      http://www.mogef.go.kr  2008-08-26
...                   ...                         ...         ...
4310             충청북도 진천군  http://gift.jincheon.go.kr  2018-06-29
4311    경기도교육청 경기도광주하남교육청        http://maeyang.ms.kr  2018-07-06
4312            한국방송통신대학교   http://ucampus.knou.ac.kr  2018-07-10
4313    경기도교육청 경기도광주하남교육청         http://dalbom.kg.kr  2018-07-10
4314  서울특별시교육청 서울특별시남부교육청      http://nbedu.sen.go.kr  2018-07-10

[4315 rows x 3 columns]

In [5]:
df.describe()

            기관명                          홈페이지주소        오픈일자
count      4315                            4315        4315
unique     1913                            4314         740
top     숙명여자대학교  http://iljasan.igangdong.or.kr  2012-05-04
freq         61                               2         228

In [7]:
# i-pin 도입이 가장 빠른 공공기관
df.loc[ df['오픈일자'] == df['오픈일자'].min(), ]

    기관명                     홈페이지주소        오픈일자
0  충청북도  http://www.chungbuk.go.kr  2008-08-11

In [8]:
# i-pin 도입이 가장 늦은 공공기관
df.loc[ df['오픈일자'] == df['오픈일자'].max(), ]

                      기관명                     홈페이지주소        오픈일자
4312            한국방송통신대학교  http://ucampus.knou.ac.kr  2018-07-10
4313    경기도교육청 경기도광주하남교육청        http://dalbom.kg.kr  2018-07-10
4314  서울특별시교육청 서울특별시남부교육청     http://nbedu.sen.go.kr  2018-07-10

In [9]:
df.head()

                 기관명                     홈페이지주소        오픈일자
0               충청북도  http://www.chungbuk.go.kr  2008-08-11
1            문화체육관광부      http://www.mcst.go.kr  2008-08-22
2  산림청 기획조정관 정보통계담당관    http://www.forest.go.kr  2008-08-22
3              중소기업청      http://www.smba.go.kr  2008-08-25
4              여성가족부     http://www.mogef.go.kr  2008-08-26

In [10]:
df['기관명'].value_counts()

숙명여자대학교                      61
경기도교육청 경기도평택교육청              54
기타                           45
서울특별시                        40
경기도교육청 경기도군포의왕교육청            37
                             ..
경찰청 경찰병원                      1
대구광역시교육청 대구광역시립남부도서관          1
국토해양부 군산지방해양항만청 위성항법중앙사무소     1
경상북도교육청 경상북도문경교육청 점촌공공도서관     1
서울특별시교육청 서울특별시남부교육청           1
Name: 기관명, Length: 1913, dtype: int64

In [11]:
op_year=df['오픈일자'].str[ : 4]

In [12]:
op_year.unique()

array(['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018'], dtype=object)

In [13]:
pd.pivot_table( df, index=[op_year] )

C:\Users\5-6\AppData\Local\Temp\ipykernel_9208\961313269.py:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  pd.pivot_table( df, index=[op_year] )

Empty DataFrame
Columns: []
Index: [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

In [14]:
# 연도별 도입 기관 수
year_counts=op_year.value_counts()

In [15]:
year_counts.head()

2009    1299
2012     884
2013     514
2011     460
2010     235
Name: 오픈일자, dtype: int64

In [17]:
df.columns

Index(['기관명', '홈페이지주소', '오픈일자'], dtype='object')

In [18]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [19]:
ColumnTransformer( [ ('encoder', OneHotEncoder() , [3] ) ] , 
                  remainder= 'passthrough')

ColumnTransformer(remainder='passthrough',
                  transformers=[('encoder', OneHotEncoder(), [3])])

In [20]:
df['오픈일자'].str[ : 4] + ' 연도'

0       2008 연도
1       2008 연도
2       2008 연도
3       2008 연도
4       2008 연도
         ...
4310    2018 연도
4311    2018 연도
4312    2018 연도
4313    2018 연도
4314    2018 연도
Name: 오픈일자, Length: 4315, dtype: object

In [21]:
year=df['오픈일자'].str[ : 4] + ' 연도'

In [22]:
years = year.to_list()

In [23]:
df['오픈연도'] = years

In [24]:
df

                      기관명                      홈페이지주소        오픈일자     오픈연도
0                    충청북도   http://www.chungbuk.go.kr  2008-08-11  2008 연도
1                 문화체육관광부       http://www.mcst.go.kr  2008-08-22  2008 연도
2       산림청 기획조정관 정보통계담당관     http://www.forest.go.kr  2008-08-22  2008 연도
3                   중소기업청       http://www.smba.go.kr  2008-08-25  2008 연도
4                   여성가족부      http://www.mogef.go.kr  2008-08-26  2008 연도
...                   ...                         ...         ...      ...
4310             충청북도 진천군  http://gift.jincheon.go.kr  2018-06-29  2018 연도
4311    경기도교육청 경기도광주하남교육청        http://maeyang.ms.kr  2018-07-06  2018 연도
4312            한국방송통신대학교   http://ucampus.knou.ac.kr  2018-07-10  2018 연도
4313    경기도교육청 경기도광주하남교육청         http://dalbom.kg.kr  2018-07-10  2018 연도
4314  서울특별시교육청 서울특별시남부교육청      http://nbedu.sen.go.kr  2018-07-10  2018 연도

[4315 rows x 4 columns]

In [ ]:
#plt.figure(figsize=(10,8))
#sb.heatmap(data= df2, cmap='RdPu', annot=True, fmt='.1f', linewidths=0.8)
#plt.show()

In [ ]:
#                ColumnTransformer( [ ('encoder', OneHotEncoder() , [3] ) ] , 
                 # remainder= 'passthrough')
#plt.plot(y_test.values)
#plt.plot(y_pred)
#plt.legend(['Real', 'Pred'])
#plt.savefig('chart1.jpg')
#plt.show()
#sb.countplot(data= df, x='')
#plt.show()